In [1]:
print('Hello')

Hello

In [2]:
print('I love Python')

I love Python

In [3]:
print('100')

100

In [4]:
print("Hello")

Hello

In [5]:
print("I love Python")

I love Python

In [6]:
# I'm Krin

In [7]:
print("I'm Krin")

I'm Krin

In [ ]:
# I will tell you the trush "I love you"

In [9]:
print('I will tell you the trush "I love you"')

I will tell you the trush "I love you"

In [10]:
print("I will tell you the trush "I love you"")

SyntaxError: invalid syntax (<ipython-input-10-8a72d097d599>, line 1)

In [12]:
print('''hello
สวัสดี
ni hao''')

hello
สวัสดี
ni hao

In [14]:
print("""hello
สวัสดี
ni hao""")

hello
สวัสดี
ni hao

In [15]:
# I'm going to visit "New York."

In [16]:
print('I\'m going to visit \"New York.\"')

I'm going to visit "New York."

In [17]:
print("I\'m going to visit \"New York.\"")

I'm going to visit "New York."

In [18]:
print('\\')

\

In [19]:
print('I love you', 3000)

I love you 3000

In [21]:
# I love you3000

In [22]:
print('I love you', 3000)

I love you 3000

In [23]:
print('I love you' + str(3000))

I love you3000

In [24]:
print('I love you3000')

I love you3000

In [28]:
price = 3000

In [29]:
print('it is', price)

it is 3000

In [32]:
print('it is ' + str(price))

it is 3000

In [34]:
price2 = 'three thousand'

In [35]:
print(f'it is {price2}')

it is three thousand

In [36]:
'5 + 7'

'5 + 7'

In [37]:
str(5+7)

'12'

In [40]:
first_name = 'John'
print('My firstname is', first_name + '.')

My firstname is John.

In [42]:
type('5')

str

In [43]:
type(5)

int

In [44]:
aaa = 5
aaA = 6
aAa = 7

In [45]:
print(aaa)

5

In [46]:
print(aaA)

6

In [47]:
print(aAa)

7

In [49]:
e = 1.0

In [50]:
type(e)

float

In [51]:
f = 3/1

In [53]:
f

3.0

In [52]:
type(f)

float

In [54]:
test = 'one three'

In [55]:
test.replace(' ', ' two ')

'one two three'

In [56]:
my_string = "Hello, world!"
my_string = my_string.insert(5, " there")

AttributeError: 'str' object has no attribute 'insert'

In [57]:
my_string = "Hello, world!"
new_string = my_string[:5] + " there" + my_string[5:]
print(new_string)

Hello there, world!

In [58]:
str1 = 'hello'

In [59]:
str1[0] = 'b'

TypeError: 'str' object does not support item assignment

In [60]:
str1.replace('h', 'b')

'bello'

In [61]:
list8 = [1, 2, 3]
list9 = ['a', 'b', 'c']

In [62]:
list8 + list9

[1, 2, 3, 'a', 'b', 'c']

In [63]:
print('hello' + ' world')

hello world

In [64]:
# i = 1, ..., 20
for i in range(1, 21):
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [65]:
# i = 1, 2, 3, ..., 100
sumx = 0
for i in range(1, 101):
    sumx = sumx + i
print(sumx)

5050

In [78]:
# i = 1, 2, 3, ..., 100
sumx = 0
for i in range(1, 142):
    sumx = sumx + i
print(sumx)

10011

In [66]:
# sumx >= 10,000 ===> ต้องไล่ถึง i ที่เท่าไหร่?

In [76]:
sumx = 0
i = 1
while sumx < 10000:
    sumx = sumx + i
    i = i+1
print(i)

142